
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Mvc Stok</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Kategori")" />Kategoriler</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       asp-area="" asp-controller="Staffs" asp-action="Index" >
                        Ürünler
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Staffs" asp-action="Index" href="@Url.Action("Urunler","Urunler")">Ürünler</a></li>
                        <li><a asp-area="" asp-controller="Certificates" asp-action="Index" href="@Url.Action("KaraListe","KaraListe")">Kara Liste</a></li>
                    </ul>
                </li> 
                <li><a href="@Url.Action("Musteri","Musteri")">Müşteriler</a></li>
                <li><a href="@Url.Action("Satis","Satis")">Satışlar</a></li>
                <li><a href="@Url.Action("LogOut","Login")">Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>