
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br />
<style>
    .hero-widget {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

        .hero-widget .icon {
            display: block;
            font-size: 96px;
            line-height: 96px;
            margin-bottom: 10px;
            text-align: center;
        }

        .hero-widget var {
            display: block;
            height: 64px;
            font-size: 64px;
            line-height: 64px;
            font-style: normal;
        }

        .hero-widget label {
            font-size: 17px;
        }

        .hero-widget .options {
            margin-top: 10px;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
                <div class="text">
                    <var>@ViewBag.Count1</var>
                    <label class="text-muted">Toplam Satış</label>
                </div>
                <div class="options">
                    <a href="@Url.Action("Satis","Satis")" class="btn btn-default btn-lg">Satışlar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-barcode"></i>
                </div>
                <div class="text">
                    <var>@ViewBag.Count2</var>
                    <label class="text-muted">Toplam Ürün</label>
                </div>
                <div class="options">
                    <a href="@Url.Action("Urunler","Urunler")" class="btn btn-default btn-lg">Ürünler</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="text">
                    <var>@ViewBag.Count3</var>
                    <label class="text-muted">Toplam Müşteri</label>
                </div>
                <div class="options">
                    <a href="@Url.Action("Musteri","Musteri")" class="btn btn-default btn-lg">Müşteriler</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-usd"></i>
                </div>
                <div class="text">
                    <var>@ViewBag.Sum</var>
                    <label class="text-muted">Kasa Toplam</label>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-th-list"></i>

                </div>
                <div class="text">
                    <var>@ViewBag.Count4</var>
                    <label class="text-muted">Kategoriler</label>
                </div>
                <div class="options">
                    <a href="@Url.Action("Index","Kategori")" class="btn btn-default btn-lg">Kategoriler</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hero-widget well well-sm">
                <div class="icon">
                    <i class="glyphicon glyphicon-book"></i>
                </div>
                <div class="text">
                    <var> </var>
                    <label class="text-muted">Bilgi</label>
                </div>
                <div class="options">
                    <a href="@Url.Action("Bilgi","Bilgi")" class="btn btn-default btn-lg"> Bilgi </a>
                </div>
            </div>

        </div>
    </div>
</div>


