@using MvcStok.Models;
@model List<KaraListeDto>
@{
    ViewBag.Title = "KaraListe";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<br />
<table id="tbl1" class='table table-bordered'>
    <thead>
        <tr>

            <th>ÜRÜN ID</th>
            <th>GİRİŞ TARİHİ </th>
            <th>ÇIKIŞ TARİHİ</th>
            <th>AÇIKLAMA</th>
            <th>AÇIKLAMA</th>
            <th>LİSTEDEN ÇIKAR</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var liste in Model)
        {
            <tr>
                <th>@liste.URUNADİ</th>
                <th>@liste.GIRISTARIHI.ToShortDateString()</th>
                <th>@liste.CIKISTARIHI.ToShortDateString()</th>
                <th>@liste.ACIKLAMA1</th>
                <th>@liste.ACIKLAMA2</th>
                @*<th><a href="@Url.Action("KaraListedenKaldir","KaraListe",new {id=liste.KARALISTEID})" class=" btn btn-success">LİSTEDEN KALDIR</a></th>*@
                <th><button type="button" class="btn btn-warning" id="send" data-Id="@liste.KARALISTEID">SEÇ</button></th>

            </tr>
        }
    </tbody>
</table>

<button type="button" hidden id="modal" data-toggle="modal" data-target="#Modal1">
</button>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/datatables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script>
    $('#tbl1').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json'
        }

    });

</script>


<div class="modal" data-backdrop="static" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kara Listeden Kaldır</h2>
            </div>
            <form>
                <div class="modal-body">

                    <input type="hidden" name="UrunId" id="UrunId" value="" />
                    <div>
                        <label>Urun Adı:</label>
                        <input type="text" class="form-control" readonly id="UrunAd" value="" />
                    </div>

                    <div>
                        <label>Marka:</label>
                        <input type="text" class="form-control" readonly name="Marka" id="Marka" value="" />
                    </div>
                    <div>
                        <label>Kategori:</label>
                        <input type="text" class="form-control" readonly name="Kategori" id="Kategori" />
                    </div>

                    <div>
                        <label>Fiyat:</label>
                        <input type="text" class="form-control" readonly name="Fiyat" id="Fiyat" value="" />
                    </div>

                    <div>
                        <label>Stok:</label>
                        <input type="text" class="form-control" readonly name="Stok" id="Stok" value="" />
                    </div>
                    <div>
                        <label>Min Stok:</label>
                        <input type="text" class="form-control" readonly name="MinStok" id="MinStok" value="" />
                    </div>
                    <div>
                        <label>Açıklama1:</label>
                        <textarea name="description" readonly id="description" class="form-control textarea required" aria-required="true"></textarea>
                    </div>
                    <div>
                        <label>Açıklama2:</label>
                        <textarea name="description2" id="description2" class="form-control textarea required" aria-required="true"></textarea>
                    </div>
                    <div style="margin-top:15px">
                        <button class="btn btn-info" id="save" type="button">Listeye Ekle</button>
                        <button type="button" class="btn btn-secondary" id="btnClose" data-dismiss="modal">İptal</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).on("click","#send", function () {
        var id = $(this).data("id");
        $.ajax({
            url: "@Url.Action("UrunGetir","KaraListe")",
            type: 'POST',
            data: { id: id },
            success: function (response) {
                    $("#UrunId").val(response.result.UrunId);
                    $("#UrunAd").val(response.result.UrunAd);
                    $("#Marka").val(response.result.Marka);
                    $("#Kategori").val(response.result.KategoriAd);
                    $("#Fiyat").val(response.result.Fiyat);
                    $("#Stok").val(response.result.Stok);
                    $("#MinStok").val(response.result.MinStok);
                    $("#description").val(response.result.Aciklama1);
                    $("#btnClose").click();
                    $("#modal").click();
                }
        });
    });

    $(document).on("click", "#save", function () {
        var data = {
            URUNID: $("#UrunId").val(),
            ACİKLAMA2: $("#description2").val(),
        };
        $.ajax({
            url: "@Url.Action("KaraListedenKaldir","KaraListe")",
            type: 'POST',
            data:data,
            success: function (response) {
                if (response.success == true) {
                    $("#UrunId").val();
                    $("#UrunAd").val();
                    $("#Marka").val();
                    $("#Kategori").val();
                    $("#Fiyat").val();
                    $("#Stok").val();
                    $("#MinStok").val();
                    $("#btnClose").click();
                    alert(response.result);
                    window.location.href = "@Url.Action("KaraListe","KaraListe")";
                }
                else {
                      alert(response.result);
                }
                }
        });
    });
</script>
